<div ng-show="!up.enableEdit">
    <div class="container1">
            <h2><span class="badge badge-pill badge-warning">Name</span>: {{up.loggedInUser.name}}</h2>
            <br>
            <h2><span class="badge badge-pill badge-warning">Lastname</span>: {{up.loggedInUser.lastname}}</h2>
            <br>
            <h2><span class="badge badge-pill badge-warning">Email</span>: <i>{{up.loggedInUser.email}}</i></h2>
            <br>
            <h2><span class="badge badge-pill badge-warning">Type</span>: {{up.loggedInUser.type}}</h2>
            <br>
            <button class="btn btn-warning" type="submit" value="Edit" style="float:right;width:20%;" ng-click="up.prepareUserEdit()">Edit <span class="glyphicon glyphicon-pencil"></span> </button>
            <div class="userlogo">
                <img class="clearfix" ngf-thumbnail="up.that.forEditUser.newAvatar || '../media/images/' + up.loggedInUser.avatar">
               
                    <!-- <img class="float-left mr-3" src="media/images/{{up.loggedInUser.path}}"> -->
            </div>
          </div>
</div>

<div class="container2" ng-show="up.enableEdit">
    <h1 class="post-create-header">Edit your Information</h1>
    <form name="editUser" ng-submit="up.editUser()" method="PUT">
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" id="Name" name="Name" placeholder="Name..." ng-model="up.forEditUser.name" required>
            <i ng-show="editUser.title.$error.required" style="color:red">*a name is required</i>
        </div>
        <div class="form-group">
            <label for="lastname">Lastname</label>
            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="lastname..." ng-model="up.forEditUser.lastname" required>
            <i ng-show="editUser.content.$error.required" style="color:red">*a Lastname is required</i>
        </div>
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="text" class="form-control" id="Email" name="Email" placeholder="Email..." ng-model="up.forEditUser.email" required>
            <i ng-show="editUser.content.$error.required" style="color:red">*an email is required</i>
        </div>
        <div class="form-group">
            <div class="btn btn-warning" style="widows: 18%;" ngf-select ng-model="up.that.forEditUser.newAvatar" name="avatar" ngf-pattern="'image/*'" ngf-accept="'image/*'">Change Avatar</div>
        </div>
        <div class="container-button">
            <button class="btn btn-warning glyphicon glyphicon-ok" type="submit" value="Edit" style="float:left;width:18%;"> Confirm</button>
            <button class="btn btn-warning glyphicon glyphicon-arrow-left" type="reset" value="Reset" style="float:right;width:18%" ng-click="up.cancelEditUser();"> Back</button>
        </div>
    </form>
</div>